body {
    background-color: #1d1d1d;
    font-family: Arial;
    margin: 0rem;
}

#main {  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    #main {
      flex-direction: column;
    }
}

h1 {
    color: #f8f8ff;
    padding: 1rem 0rem 1rem 1rem;
    margin: 0rem;
}

h2 {
    color: #282520;
    margin: .625rem 0rem 1rem 0rem;
}

h3 {
    margin: .625rem 0rem .625rem 0rem;
}

p {
    font-weight: bold;
    color: #d4d4d4;
    margin: 0rem;
    padding: 0rem 0rem 1rem 1rem;
}

.none {
    display: none;
}

#header {
    background-color: #373737;
    width: 100%;
}

#left_bonebook {
    flex: 1 1;
    background-color: #bdb29e;
    /*background-image: url(images/Bg-paper-dark.png);*/
    margin: .625rem .625rem 0rem .625rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    /*max-width: 12rem;*/
    position: relative;
    z-index: 0;
}

#middle_current {
    flex: 1 1;
    background-color: #bdb29e;
    /*background-image: url(images/Bg-paper-dark.png);*/
    margin: .625rem .625rem 0rem .625rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    /*max-width: 50rem;*/
    position: relative;
    z-index: 0;
}

#right_sellers {
    flex: 1 1;
    background-color: #bdb29e;
    /*background-image: url(images/Bg-paper-dark.png);*/
    margin: .625rem .625rem 0rem .625rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    /*max-width: 12rem;*/
    position: relative;
    z-index: 0;
}

#left_bonebook:before{
	content: " ";
	border: .125rem solid #91856e;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}

#middle_current:before{
	content: " ";
	border: .125rem solid #91856e;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}

#right_sellers:before{
	content: " ";
	border: .125rem solid #91856e;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}

.bonecontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.bonetitle {
    display: flex;
    flex: 2;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.fullw_center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curr_attributes {
    display: flex;
    width: 100%;
}

.curr_attbox {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

ul.bonelist {
    list-style: none;
    display: flex;
    flex: 10;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

ul.bonelisttext {
    list-style: none;
    padding: 0rem;
}

li.bone {
    position: relative;
    margin-right: 0.4rem;
    /*margin-bottom: 0.2rem;*/
}

img.bonepic {  /*Send bonepics*/
    cursor: pointer;
    border-style: solid;
    border-color: #3e3e3e;
    border-width: .125rem;
    box-shadow: 0 0 .125rem .125rem rgb(29, 29, 29, 0.2);
    height: 2.25rem;
    width: 2.25rem;
}

hr.normal {
    border: 1px solid #91856e;
    margin: .375rem 0rem .5rem 0rem;
    width: 100%;
}

hr.desc {
    border: 1px solid #3e3e3e;
    margin: .375rem 0rem .5rem 0rem;
    width: 90%;
}