body {
    background-color: #1d1d1d;
    font-family: Arial;
    margin: 0rem;
}

#main {  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    #main {
      flex-direction: column;
    }
}

h1 {
    color: #f8f8ff;
    padding: 1rem 0rem 1rem 1rem;
    margin: 0rem;
}

h2 {
    color: #282520;
    margin: .625rem 0rem .5rem 0rem;
}

h3 {
    margin: 0.4rem 0.2rem 0.1rem 0.2rem;
    font-size: 1rem;
}

p {
    font-weight: bold;
    color: #d4d4d4;
    margin: 0rem;
    padding: 0rem 0rem 1rem 1rem;
}

.none {
    display: none;
}

#header {
    background-color: #373737;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1);
    width: 100%;
}

#left_bonebook {
    flex: 1 1;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1);
    background-color: #bdb29e;
    /*background-image: url(images/Bg-paper-dark.png);*/
    margin: .625rem .625rem 0rem .625rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    /*max-width: 12rem;*/
    position: relative;
    z-index: 0;
}

#middle_current {
    flex: 1 1;
    background-color: #bdb29e;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1);
    /*background-image: url(images/Bg-paper-dark.png);*/
    margin: .625rem .625rem 0rem .625rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    /*max-width: 50rem;*/
    position: relative;
    z-index: 0;
}

#right_sellers {
    flex: 1 1;
    background-color: #bdb29e;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 1);
    /*background-image: url(images/Bg-paper-dark.png);*/
    margin: .625rem .625rem 0rem .625rem;
    padding: .625rem 1.25rem 1.25rem 1.25rem;
    /*max-width: 12rem;*/
    position: relative;
    z-index: 0;
}

#left_bonebook:before{
	content: " ";
	border: .125rem solid #91856e;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}

#middle_current:before{
	content: " ";
	border: .125rem solid #91856e;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}

#right_sellers:before{
	content: " ";
	border: .125rem solid #91856e;
	position: absolute;
	top: .25rem;
	right: .25rem;
	bottom: .25rem;
	left: .25rem;
	z-index: -1;
}

.middle_current_title1 { /*Top line only (default)*/
    font-weight: bold;
}

.middle_current_title2 { /*Margin when next to pictures*/
    font-weight: bold;
    padding: 0rem .25rem 0rem .25rem;
}

.middle_current_title3 { /*Samller for names*/
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0rem .25rem 0rem .25rem;
}

.bonecontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.bonetitle {
    display: flex;
    flex: 2;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.fullw_center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curr_attributes {
    display: flex;
    width: 100%;
}

.curr_attbox {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
    justify-content: flex-start;
}

.align_left {
    justify-content: left;
}

.align_right {
    justify-content: right;
}

ul.bonelist {
    list-style: none;
    display: flex;
    flex: 10;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

ul.bonelisttext {
    list-style: none;
    padding: 0rem;
}

li.bone {
    position: relative;
    margin-right: 0.4rem;
    /*margin-bottom: 0.2rem;*/
}

img.bonepic {  /*Send bonepics*/
    border-style: solid;
    border-color: #3e3e3e;
    border-width: .125rem;
    box-shadow: 0 0 .125rem .125rem rgb(29, 29, 29, 0.2);
    height: 2.25rem; /*36 at 16 (default)*/
    width: 2.25rem;
}

img.profile {
    border-style: solid;
    border-color: #3e3e3e;
    border-width: .125rem;
    margin: .25rem;
    box-shadow: 0 0 .125rem .125rem rgb(29, 29, 29, 0.2);
    height: 4.0625rem; /*65 at 16 (default)*/
    width: 3.125rem; /*50 at 16 (default)*/
}

.buyers {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.onebuyer {
    display: flex;
    background-color: #ddd3c4;
    width: 100%;
    margin: 0rem 0rem .5rem 0rem;
    box-shadow: 0 0 .125rem .125rem rgb(29, 29, 29, 0.2);
}

.buyerinfo {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.buyerinfo_line {
    display: flex;
    width: 100%;
}

.bone .ttcont {
    display: flex;
    position: absolute;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    border-style: solid;
    border-color: #3e3e3e;
    border-width: 2px;
    box-shadow: 0 0 2px 2px rgb(29, 29, 29, 0.3);
    width: 250px;
    z-index: 2;
    left: 50%;
    margin-left: -125px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bonedesc_img {
    vertical-align: middle;
}

hr.normal {
    border: 1px solid #91856e;
    margin: .375rem 0rem .5rem 0rem;
    width: 100%;
}

hr.desc {
    border: 1px solid #3e3e3e;
    margin: .375rem 0rem .5rem 0rem;
    width: 90%;
}